.bannerimage {
  height: 340px;
  background-size: cover cover;
  background-position: center center;
  background-repeat: repeat no-repeat;
  position: relative;
}
.bannerimage p.banner-title {
  font-size: var(--font-size-3xl);
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}
.bannerimage p {
  color: #fff;
}

.dark-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.mission-box {
  position: relative;
  box-shadow: 2px 2px 2px 1px #eee, -2px -2px 2px 1px #eee;
}

.mission-img {
  position: absolute;
  left: -5%;
  top: 8%;
}

.mission-box .mission-title {
  font-size: var(--font-size-2xl);
  font-weight: bold;
}

.mission-box .mission-text {
  font-size: var(--font-size-xl);
}

.mission-group-custom .list-group-item {
  border: none;
  font-size: var(--font-size-xl);
}
