@use 'components/bannerimags' ;




.management-board{
    .card-title{
        text-align: center !important;
        color:rgb(43, 6, 110);
        font-weight: bold;
    }
    .card-subtitle{
        text-align: center !important;
        

    }
}