.school-intro > p:first-child{
    font-size: var(--font-size-2xl);
    font-weight: bold;
}
.school-intro > p:nth-child(2){
    font-size: var(--font-size-xl);
    text-align: justify;
    
}
.school-intro > p:nth-child(3){
    font-size: var(--font-size-xl);
    font-weight: bold;
}



.academic-programme > p:first-child{
    font-size: var(--font-size-2xl);
    font-weight: bold;
}
.academic-group-custom .list-group-item{
    font-size: var(--font-size-xl);
    border:none;
    color:#292b2c;
    font-weight: 500;
} 
.academic-group-custom .list-group-item:hover{
    color:var(--orange-color);

 
} 
.academic-group-custom {
   i{
       padding:10px;    
   }

  
}
.recent-blogs > p:first-child{
    font-size: var(--font-size-2xl);
    font-weight: bold;
}
.recent-blogs > div:nth-child(2) p:first-child{
    font-size: var(--font-size-xl);
   
}
.recent-blogs img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position:center;
}
