.admission-title{
    font-size: var(--font-size-3xl);
    font-weight: bold;
}
.admission-subtitle{
    font-size: var(--font-size-2xl);
    font-weight: bold;
    color:var(--lead-color);
}
.admission-text{
    font-size: var(--font-size-xl);
    color:var(--lead-color);
}